#status {
  color:red;
}

body {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
}

header,
footer {
  text-align: center;
  flex: 0;
}


.holyGrail {
  display: flex;
  flex: 1;
}

.content {
  flex: 1;
}

.side-nav,
.side-bar{
  width: 200px;
  color: black:
}

.side-nav {
  order: -1;
}
